{% extends "FOSUserBundle::layout.html.twig" %}


{% block fos_user_content %}
	<p style="padding:20px;font-size:16px;"><b style="font-size:24px;">Gratulujemy.</b>Twoje konto zostało utworzone.</p>
	<div>
{% endblock fos_user_content %}
