/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

.title {
  padding:0;
}
.sub-title {
  padding-bottom:10px;
  margin:0;
}
/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
.opc-btn {
  display: inline-block;
  min-width:80px;
}
.lista_serwerow li {
  font-size:16px;
  padding:5px;

}
.lista_serwerow ul {
  padding:10px 0 10px 50px;
  list-style: square outside none;
}
.lista_serwerow {
  margin:20px 10px;
}



.login input{
  width: 100%;
  padding: 20px 10px;
  background: #333;
  border: none;
  font-size: 1em;
  color: white;
  border-bottom: 1px dotted rgba(250, 250, 250, 0.4);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

.login-heading {
  font: 1.8em/48px "Tenor Sans", sans-serif;
  color: black;
}

.input-txt {
  width: 100%;
  padding: 20px 10px;
  background: #333;
  border: none;
  font-size: 1em;
  color: white;
  border-bottom: 1px dotted rgba(250, 250, 250, 0.4);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}
.input-txt:-moz-placeholder {
  color:white;
}
.input-txt:-ms-input-placeholder {
  color:white;
}
.input-txt::-webkit-input-placeholder {
  color:white;
}
.input-txt:focus {
  background-color: black;
}
.icon {
  display: inline-block;
}

.icon--min {
  font-size: .9em;
}

.lnk {
  font-size: .8em;
  line-height: 3em;
  color: white;
  text-decoration: none;
}
.btn {
  letter-spacing: .1em;
}
#_submit {
  width:100%;
  height:50px;
  margin-bottom:25px;
}
#register-btn {
  background: white;
  color:black;
  font-size:24px;
  font-weight: bold;
  margin-top:20px;
  border-top:1px dotted #e5e5e5;
}



#easyadmin-list-Users {
  width:200px;
  background-color: red;
}



/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 930px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.page {
  padding:0;
  margin:0;
}
.add-button {
  margin:0 10px     ;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .page,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}